@avaldigitallabs:registry=https://avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:_auth=${JFROG_TOKEN}
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:email=juan.sanchez@avaldigitalalabs.com
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:always-auth=true
