.default {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-carbon-light-900);
  border-radius: 8px;
  caret-color: var(--color-highlight-600);
  font-family: var(--font-family-sans-inter);
  font-size: var(--font-size-xs);
  outline: none;
}

.default::placeholder {
  color: var(--color-carbon-mid-400);
}

.success {
  border-color: var(--color-semantic-success-600);
  background-color: rgba(var(--color-semantic-success-100-rgb), 0.32);
}

.warning {
  border-color: var(--color-semantic-warning-600);
  background-color: rgba(var(--color-semantic-warning-100-rgb), 0.32);
}

.error {
  border-color: var(--color-semantic-error-600);
  background-color: rgba(var(--color-semantic-error-100-rgb), 0.32);
}

.filled:not(.error, .warning, .success) {
  border-color: var(--color-carbon-mid-600);
}

.focus {
  border-color: var(--color-carbon-mid-600);
}

.typing {
  background-color: var(--color-carbon-light-400);
}

.disabled {
  border-color: var(--color-carbon-light-600);
  background-color: var(--color-carbon-light-400);
}

.disabled::placeholder {
  color: var(--color-carbon-mid-100);
}

.size-lg {
  padding: 0.625rem 0.75rem;
}

.size-md {
  padding: 0.375rem 0.75rem;
}
