div .input-wrapper {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: flex-start;
  border: solid 1px var(--color-carbon-light-900);
  border-radius: 8px;
}

div .input::placeholder {
  color: var(--color-carbon-mid-400);
  font-family: var(--font-family-sans-inter);
  font-size: var(--font-size-xs);
}

div .input-wrapper.disabled {
  border: solid 1px var(--color-carbon-light-600);
  background-color: var(--color-carbon-light-400);
}

div .input-wrapper.disabled .input::placeholder {
  color: var(--color-carbon-mid-100);
}

div .input-wrapper.error {
  border: solid 1px var(--color-semantic-error-600);
  background-color: rgba(var(--color-semantic-error-100-rgb), 0.32);
}

div .input-wrapper.error .input::placeholder {
  color: var(--color-carbon-900);
}

div .input-wrapper:focus-within {
  border: solid 1px var(--color-carbon-mid-600);
}

div .input {
  width: 100%;
  height: calc(100% - 2px);
  flex: 1;
  padding: 0 0.75rem 0 0.75rem;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  caret-color: var(--color-highlight-600);
  font-size: var(--font-size-xs);
  outline: none;
}

div .input-wrapper:focus-within .input {
  background-color: var(--color-carbon-light-100);
}

div .caption {
  color: var(--color-carbon-900);
  font-family: var(--font-family-sans-inter);
  font-size: var(--font-size-3xs);
}

div .caption.error {
  color: var(--color-semantic-error-600);
}
