.wrapper {
  --main-wrapper-width: 360px;

  position: relative;
  width: var(--main-wrapper-width);
  box-sizing: border-box;
}

.content-wrapper {
  --message-card-background-image: "";

  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.icon-wrapper {
  position: relative;
  width: 100%;
  height: var(--main-wrapper-width);
}

.content-wrapper-background {
  position: absolute;
  top: 0;
  left: calc(50% - var(--main-wrapper-width) / 2);
  width: 100%;
  opacity: 0.5;
}

.main-icon {
  --icon-size: 120px;

  position: absolute;
  top: calc(50% - var(--icon-size) / 2);
  left: calc(50% - var(--icon-size) / 2);
  width: var(--icon-size);
  height: var(--icon-size);
}

.text-wrapper {
  position: relative;
  z-index: 1;
  margin: calc(var(--main-wrapper-width) * -0.1) auto 0 auto;
}

.title {
  margin: 0;
  color: black;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.75;
}

.subtitle {
  margin: 10px 0 0 0;
  color: #555;
  font-size: 0.875rem;
  line-height: 2;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

.button-wrapper {
  width: 220px;
}

@media (max-width: 380px) {
  .wrapper {
    --main-wrapper-width: 320px;
  }

  .text-wrapper {
    width: 280px;
    margin-top: calc(var(--main-wrapper-width) * -0.05);
  }

  .title {
    font-size: 1rem;
  }

  .button-wrapper {
    width: 280px;
  }
}
