.dropdown {
  position: relative;
  display: flex;
  width: 100%;
  height: 3rem;
  border: solid 1px var(--color-carbon-light-900);
  border-radius: 8px;
  cursor: pointer;
}

.dropdown .expanded-section {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  display: none;
  width: 100%;
  height: calc(9rem + 1rem);
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-carbon-light-900);
  background-color: var(--color-carbon-light-100);
  border-radius: 8px;
}

.dropdown.open .expanded-section {
  display: flex;
}

.dropdown.error {
  border: solid 1px var(--color-semantic-error-600);
  background-color: rgba(var(--color-semantic-error-100-rgb), 0.32);
}

.dropdown.disabled {
  border: solid 1px var(--color-carbon-light-600);
  background-color: var(--color-carbon-light-400);
}

.dropdown .content .name {
  margin: 0 0.75rem;
  color: var(--color-carbon-900);
  font-family: var(--font-family-sans-inter);
  font-size: var(--font-size-xs);
}

.dropdown.disabled .content .name {
  color: var(--color-carbon-mid-100);
}

.dropdown .content {
  display: flex;
  flex: 1;
  align-items: center;
}

.dropdown .expanded-section .expanded-content {
  width: 100%;
  height: 9rem;
  flex-direction: column;
  overflow-y: scroll;
}

.dropdown .expanded-section .expanded-content::-webkit-scrollbar {
  width: 0.25rem;
  border-radius: 1rem;
}

.dropdown .expanded-section .expanded-content::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-color: var(--color-highlight-600);
  border-radius: 8px;
}

.dropdown .expanded-section .item {
  display: flex;
  height: 3rem;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  margin: 0 0.5rem;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown .expanded-section .item .name {
  color: var(--color-carbon-900);
  font-family: var(--font-family-sans-inter);
  font-size: var(--font-size-xs);
}

.dropdown .expanded-section .item .name.selected {
  font-weight: 600;
}

.dropdown .expanded-section .item:hover {
  background-color: rgba(var(--color-carbon-400-rgb), 0.72);
}

.caption {
  color: var(--color-carbon-900);
  font-family: var(--font-family-sans-inter);
  font-size: var(--font-size-3xs);
}

.caption.error {
  color: var(--color-semantic-error-600);
}
