.default {
  border: none;
}

.primary {
  background-color: var(--background-color-button-text-primary);
  color: var(--font-color-button-text-primary-enabled);
}

.primary-focus {
  text-decoration: underline;
}

.primary:disabled {
  color: var(--font-color-button-text-primary-disabled);
}

.secondary {
  background-color: var(--background-color-button-text-secondary);
  color: var(--font-color-button-text-secondary-enabled);
}

.secondary-focus {
  text-decoration: underline;
}

.secondary:disabled {
  color: var(--font-color-button-text-secondary-disabled);
}
