@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: initial;
  font-family: "icomoon";
  src: url("./icomoon.woff") format("woff"), url("./icomoon.eot"),
    url("./icomoon.eot?#iefix") format("embedded-opentype"), url("./icomoon.ttf") format("truetype"),
    url("./icomoon.svg#svgFontName") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
  speak: none;
  line-height: 1;
  font-size: 16px;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-family: "icomoon" !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.icon-simple-arrow:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}