.wrapper .inputs {
  display: flex;
  gap: 16px;
}

.wrapper .inputs .input.day {
  flex: 1 1 56px;
}

.wrapper .inputs .input.month {
  flex: 2 1 128px;
}

.wrapper .inputs .input.year {
  flex: 1 1 64px;
}
