.default {
  padding: 0.625rem 8.563rem 0.625rem 0.75rem;
  border: solid 1px var(--color-carbon-light-900);
  border-radius: 8px;
  font-family: var(--font-family-sans-inter);
}

.default::placeholder {
  color: var(--color-carbon-mid-400);
  font-size: 0.875rem;
}

.default:not(:placeholder-shown) {
  border-color: hsl(0, 76%, 50%);
}
