.default {
  display: block;
  color: #555555;
  margin: 4px 0 0 0;
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
}

.error {
  color: #e70000;
}

.warning {
  color: #fd9700;
}

.success {
  color: #008c00;
}
