.default {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 2rem;
}

.error {
  color: #e70000;
}

.warning {
  color: #fd9700;
}

.success {
  color: #008c00;
}
