.wrapper {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.wrapper.disabled {
  cursor: not-allowed;
}

.wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-carbon-light-900);
  border-radius: 6px;
}

.wrapper.disabled .checkmark {
  background-color: var(--color-carbon-light-400);
  cursor: not-allowed;
}

.wrapper.error .checkmark {
  border: solid 1px var(--color-semantic-error-600);
  background-color: rgba(var(--color-semantic-error-100-rgb), 0.32);
}

.wrapper .input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.wrapper .checkmark .icon-check {
  display: none;
  color: var(--color-carbon-light-100);
  font-size: 24px;
}

.wrapper.enabled:hover .input ~ .checkmark {
  border: 1px solid var(--color-highlight-600);
  background-color: rgba(var(--color-highlight-100-rgb), 0.24);
}

.wrapper.enabled .input:checked ~ .checkmark {
  border: 1px solid var(--color-highlight-600);
  background-color: var(--color-highlight-600);
}

.wrapper.enabled .input:checked ~ .checkmark .icon-check {
  display: block;
}

.wrapper.disabled .input:checked ~ .checkmark {
  border: 1px solid var(--color-carbon-mid-100);
  background-color: var(--color-carbon-mid-100);
}

.wrapper.disabled .input:checked ~ .checkmark .icon-check {
  display: block;
}
