.wrapper {
  --arrow-height: 12px;

  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.content-wrapper {
  position: absolute;
  z-index: 1;
  bottom: calc(100% + var(--arrow-height));
  display: none;
  background-color: #00c000;
  border-radius: 8px;
}

.content-wrapper--static-width {
  --tooltip-width: 264px;

  left: calc(50% - var(--tooltip-width) / 2);
  inline-size: var(--tooltip-width);
}

.wrapper-arrow::before {
  position: absolute;
  top: calc(var(--arrow-height) * -1);
  left: 50%;
  border-width: var(--arrow-height);
  border-style: solid;
  border-color: #00c000 transparent transparent transparent;
  margin-left: calc(var(--arrow-height) * -1);
  content: "";
}

.content-body {
  position: relative;
  line-height: 1.5;
}

.icon-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  user-select: none;
}

.icon-close {
  color: #fff;
  font-size: 2rem;
}

.content-text {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 28px 24px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  gap: 16px;
}

.content-wrapper.visible {
  display: block;
}
