.wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.tooltip-wrapper {
  --tooltip-width: 264px;

  position: absolute;
  z-index: 1;
  bottom: calc(100% + 24px);
  left: calc(50% - var(--tooltip-width) / 2);
  background-color: #00c000;
  border-radius: 8px;
  inline-size: var(--tooltip-width);
  visibility: hidden;
}

.tooltip-wrapper::after {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 12px 12px 0 12px;
  border-style: solid;
  border-color: #00c000 transparent transparent transparent;
  margin-left: -12px;
  content: "";
}

.tooltip-body {
  position: relative;
}

.icon-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  user-select: none;
}

.icon-close {
  color: #fff;
  font-size: 32px;
}

.tooltip-text {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 28px 24px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  gap: 16px;
}

.tooltip-wrapper.visible {
  visibility: visible;
}
