.wrapper {
  display: flex;
  width: 100%;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.icon-section {
  display: flex;
  margin: 16px 8px 0 4px;
}

.left-line {
  width: 4px;
  height: 24px;
  margin: 0 12px 0 0;
  border-radius: 2px;
}

.img {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin: 0 0 12px 0;
  border-radius: 50%;
}

.icon {
  font-size: 16px;
  font-weight: 60;
}

.text {
  margin: 16px 22px 16px 0;
}

.wrapper.info {
  border: 1px solid #bbe0ff;
  background-color: rgba(187, 224, 255, 0.24);
}

.wrapper.info .left-line {
  background-color: #1068d9;
}

.wrapper.info .img {
  background-color: #bbe0ff;
}

.wrapper.info .icon {
  color: #1068d9;
}

.wrapper.warning {
  border: 1px solid #fdeaae;
  background-color: rgba(253, 234, 174, 0.24);
}

.wrapper.warning .left-line {
  background-color: #fd9700;
}

.wrapper.warning .img {
  background-color: #fdeaae;
}

.wrapper.warning .icon {
  color: #fd9700;
}

.wrapper.success {
  border: 1px solid #c5ecbf;
  background-color: rgba(197, 236, 191, 0.24);
}

.wrapper.success .left-line {
  background-color: #50b946;
}

.wrapper.success .img {
  background-color: #c5ecbf;
}

.wrapper.success .icon {
  color: #50b946;
}

.wrapper.error {
  border: 1px solid #ffc7b8;
  background-color: rgba(255, 199, 184, 0.24);
}

.wrapper.error .left-line {
  background-color: #ff3737;
}

.wrapper.error .img {
  background-color: #ffc7b8;
}

.wrapper.error .icon {
  color: #ff3737;
}
