.default {
  border: solid var(--border-width-button) var(--color-base-transparent);
  border-radius: var(--border-radius-button);
}

.primary {
  background-color: var(--background-color-button-primary-enabled);
  color: var(--font-color-button-primary-enabled);
}

.primary--focus {
  border: solid var(--border-width-button) var(--border-color-button-primary);
  background-color: var(--background-color-button-primary-focus);
}

.primary--hover {
  background-color: var(--background-color-button-primary-hover);
  color: var(--font-color-button-primary-hover);
}

.primary--active {
  background-color: var(--background-color-button-primary-active);
}

.primary:disabled {
  background-color: var(--background-color-button-primary-disabled);
  color: var(--font-color-button-primary-disabled);
}

.secondary {
  background-color: var(--background-color-button-secondary-enabled);
  color: var(--font-color-button-secondary-enabled);
}

.secondary--focus {
  border: solid var(--border-width-button) var(--border-color-button-secondary);
  background-color: var(--background-color-button-secondary-focus);
}

.secondary--hover {
  background-color: var(--background-color-button-secondary-hover);
  color: var(--font-color-button-secondary-hover);
}

.secondary--active {
  background-color: var(--background-color-button-secondary-active);
}

.secondary:disabled {
  background-color: var(--background-color-button-secondary-disabled);
  color: var(--font-color-button-secondary-disabled);
}

.size-xs {
  height: 32px;
  padding: 8px 16px;
}

.size-sm {
  height: 40px;
  padding: 8px 24px;
}

.size-md {
  height: 48px;
  padding: 12px 32px;
}

.size-lg {
  height: 56px;
  padding: 16px 32px;
}
